In [ ]:
CHAPTER 6

In [ ]:
CHAPTER 6
File Handling and Databases
A
file is a stream of data. It is an object which stores data, information,
and so on. In python, the file handling concepts are same as in other
Programming languages. In Python, there are functions for reading,
updating, and deleting files.
Following are the modes used in file handling:
a. “r” for reading
b. “w” for writing
c. “a” for appending
d. “r+” for both reading and writing

In [ ]:
open()
is the built-in function to open a file in Python. open() function
takes two parameters. One is filename and another is mode used.
open()
Example 6.1:
In this program, “a.txt” is the filename and “r” is the read mode for
reading.
f = open ('a.txt', 'r')
print (f.read())

In [ ]:
read()
method is used for reading the contents of the file. The output of the
Example 6.1 is shown in figure 6.1:
read()Figure 6.1: Output of the Example 6.1
Note: The file “a.txt” is to be created first and then save that file inside
the same folder where Python program is saved.
Example 6.2:
Program will print every line one by one in the file.
f = open('a.txt', 'r')
for each in f:
print (each)
The output of the Example 6.2 is shown in figure 6.2:

In [ ]:
Program 6.1: Write data into file using “w” mode
Save the file as: f3.py
f = open ('a.txt','w')
f.write("W mode is used for writing")
f.close()
Using “w” mode, on opening the file “a.txt”, the previous data written in the
file will be overwritten.

In [ ]:
Program 6.2: Write a program for illustrating append mode
Save the file as: f4.py
f = open('a.txt','a')
f.write("a means append mode which will add data to the
already existing data")
f.close()
command terminates the resources which are already in use and
frees the memory space.

In [ ]:
Databases
In Python, MySQLdb database is used as an interface for connecting to a
database server. PostgreSQL and MySQL are the two most common open
source databases for storing Python Web-based applications data.
PostgreSQL is the Relational database for working with Python web
applications.
Note: In order to run the database program, you must install MySQLdb as
a backend on your machine.
Program 6.3: Write a program to fetch the data from a table
In this program:
Step 1: First the database connection is established. The parameters
passed inside the MySQLdb.connect() are localhost, root, password,
database name. In this, localhost is the hostname, root is the username,
sa is the password and python is the name of the database.
Step 2: Cursor object is created to perform the database operations
like fetching, inserting, and deleting records. A database cursor
traverses over the records in a database.
Step 3: SQL query is used to retrieve the records from the table
named “student” in this program.
Step 4: Cursor object is used to fetch the records from the database by
using for loop to traverse the rows for records in a table.

In [ ]:
import MySQLdb
# Open database connection
db = MySQLdb.connect("localhost","root","sa","python" )
# prepare a cursor object using cursor () method to
execute SQL commands in a database
# session and bound to the connection for the entire
lifetime.
cursor = db.cursor()
sql = "SELECT * FROM student"
try:
# Execute the SQL commandcursor.execute(sql)
# Fetch all the rows in a list of lists
results = cursor.fetchall()
for row in results:
id = row[0] # value at 0th index column i.e. “id”
name = row[1] # value at 1st index column i.e. “name”
address = row[2] # value at 2nd index column i.e.
“address”
# Now print fetched result
print "id=%d,name=%s,address=%s" %\
(id,name,address)
except:
print "Error: unable to fetch data"
# disconnect from server
db.close()

In [ ]:
Note: In the programs, Data Definition Language (DDL), Data Query
Language (DQL),Data Manipulation Language (DML), Data Control
Language (DCL), and Transaction Control Language (TCL)commands
are used.
Data Definition Language (DDL): DDLcommands are used to create
and modify the database structure. The commonly used DDL
commands are: create, drop, alter, and so on. The syntax of “create
table” command is:
create table studenttbl(id int, name varchar(20), address
varchar(20));In this command, tablename is “studenttbl” and there are 3 fields i.e.
id, name, and address. The datatype of id field is “int”, name field is
“varchar” and size is 20, address field is “varchar”, size is 20.
The drop command is used to delete the object i.e. table from the
database. The syntax of drop command is:
drop table studenttbl;
The alter command is used to alter the database structures. The syntax
of alter command to add new column “mobno” and datatype integer
is:
alter table studenttbl add mobno int;
Data Query Language (DQL): The DQL command is used to fetch
the records from the database based on the query passed i.e. “select”
statement is used to retrieve the records. The syntax of select
statement for fetching all and specific record from the table is as:
select * from studenttbl;
select * from studenttbl where id = 1; # where clause is used here
to fetch the record having id = 1.
Data Manipulation Language (DML): The DML commands are
used to insert, update and delete the records from the table. The
syntax of insert command is:
insert into studenttbl values(1, ‘anil’, ‘delhi’);
The syntax of update statement is as follows:
update table studenttbl set name = ‘anil kumar’ where id = 1;
In update query, where clause is used to update the name of the
student based on his id. The syntax of delete statement is:
delete from studenttbl where id = 1;
Data Control Language (DCL): The DCL commands are Grant and
Revoke. Grant command is used to give the users access privileges to
database whereas Revoke withdraw users access privileges to database
given by Grant command.
Transaction Control Language (TCL): The commonly used TCL
commands are Commit and Rollback. The Commit command is used
to commit a transaction whereas Rollback command rollbacks a
transaction in case any error occurs.
The syntax and output of the DDL, DQL, and DML commands in
MySQL command terminal are shown in figure 6.4 and figure 6.5.

In [ ]:
Program 6.4: Write a program to insert the data.
import MySQLdbdb=MySQLdb.connect("localhost","root","sa","python")
cursor=db.cursor()
id1=input("Enter the id")
name1=input("Enter The Name")
address1=input("Enter The Address")
try:
cursor.execute('INSERT into student(id,name,address)
values("%d","%s","%s")'%(id1,name1,address1))
db.commit() # commit a transaction i.e. TCL command
except:
db.rollback() # rollback a transaction if any error occurs
i.e. TCL command
db.close()
The output of the Program 6.4 is shown in figure 6.6:

In [ ]:
Program 6.5: Write a program to fetch the data using id
import MySQLdb
db=MySQLdb.connect("localhost","root","sa","python")
cursor=db.cursor()
id1=input("Enter the id")
cursor.execute("SELECT name, address from student where id =
'%d'" %(id1))
# select query is used to select the data using where clause.
db.commit()
for row in cursor: # Retrieve the records using for loop
print "NAME = ", row[0]
print "ADDRESS = ", row[1],"\n"
print "Operation done successfully";
db.rollback()
db.close()

In [ ]:
Program 6.6: Write a program to update the data
In this program, update query is used to update the record by using where
clause. Here, id, name, and address are the attribute names. The tablename
is “student” and the databasename is “python”.
import MySQLdb
db=MySQLdb.connect("localhost","root","sa","python")
cursor=db.cursor()
id1=input("Enter the id")
name1=input("Enter The Name")
address1=input("Enter The Address")
try:
cursor.execute ("""
UPDATE student
SET name=%s,address=%s
WHERE id=%s
""", (name1,address1,id1))
db.commit()
except:
db.rollback()
db.close()
The output of the Program 6.6 is shown in figure 6.8: