In [ ]:
CHAPTER 8
Python DB-API
The previous chapter was an overview of SQL fundamentals with the help
of SQLite database. However, as mentioned there in short, there are several
equally popular RDBMS in use worldwide. Some of them are open-source
and others for enterprise use. Although all of them use SQL underneath
them, there are lot of differences in the implementation of SQL standard by
each of them. This also reflected in Python’s interface modules written by
individuals for interaction with databases. Since each module defined its
own functionality for interaction with respective database product, its major
fallout is lack of compatibility. If for some reason, a user is required to
switch to different database product, almost the entire code that handles the
back-end processing had to be rewritten.

In [ ]:
To find a solution for this incompatibility issue, a ‘Special Interest Group’
was formed in 1996. This group (db-sig) recommended a set of
specifications by raising ‘Python Enhancement Proposal (PEP 248)’ for a
consistent interface to relational databases known as DB-API. The
specifications have since been modified by subsequent enhancement
proposal (PEP 249). Its recommendations are called DB-API Version 2.0.
As various Python database modules have been made DB-API compliant,
most of the functionality required to interact with any database is uniform.
Hence, even if the database itself is switched, only a couple of changes in
the code should be sufficient.

In [ ]:
Oracle, the world’s most popular relational database can be interface with
Python with more than one modules. cx_Oracle is a Python extension
module that enables access to Oracle Database with some features of its
own in addition to DB-API. It can be used with Oracle 11.2, 12.1, and 12.2
and 18.3 client libraries. There is pyodbc module that acts as a Python-
ODBC bridge driver, can be used for Python-Oracle interaction as well.
To use Microsoft’s SQL Server database with Python also, there are a
couple of alternatives. The pymysql module is there in addition to pyodbcmodule.

In [ ]:
As far as PostgreSQL is concerned, psycopg2 module is the most popular
PostgreSQL adapter for the Python programming language.
MySQL is also a very popular relational database, especially in the open-
source domain. MySQL Connector/Python is a standardized database driver
provided by MySQL itself. There is a mysqldb module for Python interface
but is not still compatible with Python 3.x. You can use pymysql module as
a drop-in replacement for mysqldb module while using Python 3.x version.
As mentioned in the previous chapter, Python’s standard library consists of
the sqlite3 module which is a DB-API compliant module for handling the
SQLite database through Python program. While other modules mentioned
above should be installed in the current Python installation - either by pip
utility or by using a customized installer (as in case of MySQL
Connector/Python), the sqlite3 module needs no such installation.

In [ ]:
8.1 sqlite3 Module
SQLite is often used as a prototyping tool for larger databases. The fact that
SQLite is extremely lightweight and doesn’t require any server but still is a
fully featured implementation of SQL, it is a common choice in the
developmental stage of an application and is eventually replaced by
enterprise RDBMS products such as Oracle. Likewise, you can think of the
sqlite3 module as a prototype DB-API module. We shall explore the DB-
API specifications with the help of sqlite3 module. We will soon discover
how easy it is to switch to other databases just by modifying a couple of
statements.

In [ ]:
Let us start by importing the sqlite3 module. Note that, its target SQLite
library version may be different from SQLite binary downloaded by you as
shown in the previous chapter.
Example 8.1:
>>> import sqlite3
>>> sqlite3.sqlite_version
'3.21.0'

In [ ]:
8.2 Connection Object
The all important connection object is set up by module level connect()
function. First positional argument to this function is a string representing
path (relative or absolute) to a SQLite database file. The function returns a
connection object referring to the database file – either existing or new.
Assuming that, ‘newdb.sqlite’ doesn’t already exist, following statement
opens it:
As we’ve seen in the previous chapter, SQLite supports in-memory
database. To open the same programmatically use ′′:memory:′′ as its path.
The connection object has access to various methods in connection class.
One of them is a cursor() method that returns a cursor object, about which
we shall know in the next section. Transaction control is achieved by
commit() and rollback() methods of the connection object. Connection
class has important methods to define custom functions and aggregates to be
used in SQL queries. Later in this chapter create_function() and
create_aggregate() methods are explained.

In [ ]:
8.3 cursor Object
After opening the database, the next step is to get a cursor object from it
which is essential to perform any operation on the database. A database
cursor enables traversal over the records in a database. It facilitates CRUD
operations on a table. The database cursor can be considered as similar to
the concept of an iterator. The cursor() method on the connection object
returns the a cursor object.

In [ ]:
Once we get hold of the cursor object, we can perform all SQL query
operations, primarily with the help of its execute() method. This method
needs a string argument which must be a valid SQL statement. String
argument having incorrect SQL statement raises exceptions as defined in
the sqlite3 module. Hence, it is recommended that a standard exception
handling mechanism is used.

In [ ]:
8.4 Creating Table
We shall now add a table in our newly created ‘mydb.sqlite’ database. In the
following script, first two steps are as illustrated above – setting up
connection and cursor objects. Next, we call execute() method of cursor
object, giving it a string with CREATE TABLE statement inside. We shall
use the same ‘Products’ table that we created in the previous chapter. Save
following script as ‘createqry.py’ and execute it.

In [ ]:
Example 8.2
import sqlite3
conn=sqlite3.connect('mydb.sqlite')
cur=conn.cursor()
qry='''
CREATE TABLE Products (
ProductID INTEGER
PRIMARY KEY AUTOINCREMENT,
Name
TEXT (20),
Price
INTEGER
);
'''
try:
cur.execute(qry)
print ('Table created successfully')
except:
print ('error in creating table')
conn.close()
Products table will be created in our database. We can verify by listing out
tables in this database in SQLite console, as we did in the previous chapter.

In [ ]:
Let us also create ‘Customers’ and ‘Invoices’ tables with the same structure
as used in the previous chapter. Here, we use a convenience method
executescript() that is defined in cursor class. With its help, it is possible
to execute multiple execute statements at once.
Example 8.3
import sqlite3
conn=sqlite3.connect('mydb.sqlite')
cur=conn.cursor()
qry='''
CREATE TABLE Customers (
CustID INTEGER
PRIMARY KEY AUTOINCREMENT,
Name
TEXT (20),
GSTIN TEXT (15)
);
CREATE TABLE Invoices (
InvID
INTEGER
PRIMARY KEY AUTOINCREMENT,
CustID
TEXT
REFERENCES Customers (CustID),
ProductID INTEGER
REFERENCES Products (ProductID),
Quantity INTEGER (5)
);
'''
try:
cur.executescript(qry)
print ('Table created successfully')
except:
print ('error in creating table')
conn.close()
You can go back to the SQLite console and refresh table list to confirm that
all three tables are created in mydb.sqlite database.

In [ ]:
8.5 Inserting Rows
The next step is to insert rows in the tables we have just created. We know
the syntax of the INSERT statement and we have used it in console mode of
SQLite in the previous chapter. To do it programmatically, declare an
INSERT query string and use it as an argument to execute() method.
As noted in the previous chapter, the SQLite database engine is in auto-
commit mode by default. To have better transaction control, we should
commit the query operation only if it doesn’t encounter any exception.
Following code inserts a record in the Products table.
Example 8.4:
import sqlite3
conn=sqlite3.connect('mydb.sqlite')
cur=conn.cursor()
qry="insert into Products values (1,'Laptop', 25000);"
try:
cur.execute(qry)
conn.commit()
print ('Record inserted successfully')
except:
print ('error in insert operation')
conn.rollback()
conn.close()

In [ ]:
In many cases, you may want to accept user input for field values to be
inserted. You can form a query string by substituting the user inputs in the
string with the help of string formatting technique, as shown below:
Example 8.5
>>> id=input('enter ProductID:')
enter ProductID:2
>>> nm=input('enter product name:')
enter product name:Hard Disk
>>> p=int(input('enter price:'))
enter price:5000>>> qry="insert into products values ({}, {}, {});".format(id,
nm, p)
>>> qry
'insert into products values (2, Hard Disk, 5000);'

In [ ]:
You can very well use this query string as an argument of execute()
method. However, query operations using Python’s string formatting is
insecure as it makes the program vulnerable to SQL injection attacks.
Hence, DB-API recommends the use of parameter substitution technique.
The execute() method of sqlite3 module supports the use of question mark
symbols (‘?’) as place holders as well as named place holders in which case
dictionary object of name and value pairs is given as the second argument to
execute() method.

In [ ]:
There is another useful variant of execute() method in the sqlite3
module. The first argument to executemany() method is a query string with
place holders, and the second argument is a list of parameter sequences. The
query gets executed for each sequence (itself may be a list or tuple) in the
list. Following script (‘insertqry.py’) uses executemany() method to insert
records in the Products table, as displayed in the previous chapter.
Example 8.6
import sqlite3
conn=sqlite3.connect('mydb.sqlite')
cur=conn.cursor()
qry="insert into Products values (?,?,?)"
pricelist=[(1,'Laptop',25000),(2, 'TV',40000),
(3,'Router',2000),(4,'Scanner',5000),
(5,'Printer',9000), (6,'Mobile',15000)]
try:cur.executemany(qry, pricelist)
conn.commit()
print ('Records inserted successfully')
except:
print ('error in insert operation')
conn.rollback()
conn.close()
You can check successful insertion on SQLite console.

In [ ]:
8.6 Updating Data
It is fairly straightforward to programmatically perform update operation on
a table in SQLite database. As pointed out in previous chapter, the update
query is normally conditional operation unless you intend to update all rows
of a certain table. Hence a parameterized query is ideal for the purpose.
Following script (‘updateqry.py’) asks the user to input name of the product
and new price and performs update operation accordingly.

In [ ]:
Example 8.7
import sqlite3
conn=sqlite3.connect('mydb.sqlite')
nm=input('enter name of product:')
p=int(input('new price:'))
qry='update Products set price=? where name=?'
cur=conn.cursor()try:
cur.execute(qry, (p,nm))
print ('record updated')
conn.commit()
except:
print ('error in update operation')
conn.rollback()
conn.close()
Run the above script from command prompt:
The SQLite console can confirm above action.

In [ ]:
8.7 Deleting Rows
Similarly, we can programmatically delete a certain record from a table.
This operation is also more often than not conditional. Hence, ‘WHERE’
clause appears in the parameterized DELETE query. Following script
(deleteqry.py) deletes row belonging to user-specified product.
Example 8.8
import sqlite3
conn=sqlite3.connect('mydb.sqlite')
nm=input('enter product to delete:')
qry='delete from Products where name=?'
cur=conn.cursor()
try:cur.execute(qry, (nm,))
print ('record deleted')
conn.commit()
except:
print ('error in delete operation')
conn.rollback()
conn.close()
To delete the user input product, run above script from command prompt.
Execute select query in SQLite console to verify that deleted product
doesn’t appear in the list.
Next section explains how to programmatically retrieve records from a
table.

In [ ]:
8.8 ResultSet Object
We need to call execute() method on cursor object with a SELECT query
string as its argument and a query result set is built which is similar to an
iterator of rows returned in response to the query. The module provides
following methods to traverse the result set:
fetchone():Next row in the query result set is retrieved and returned in the
form of a tuple. The method returns None if there are no more rows to be
fetched.fetchall(): This method returns a list of all available rows in the result set. It
contains a sequence corresponding to each row. You can employ a regular
for loop to traverse the rows, as follows:
Example 8.9
import sqlite3
conn=sqlite3.connect('mydb.sqlite')
cur=conn.cursor()
qry="select * from Products;"
cur.execute(qry)
rows=cur.fetchall()
for row in rows:
print (row)
conn.close()
Run the above code (‘selectqry.py’) from command prompt.

In [ ]:
The fact that execute() method runs a parameterized query can be used to
good effect to search for a certain condition in the table. Following code
snippet accepts product’s name as input and displays its price.
Example 8.10
import sqlite3
conn=sqlite3.connect('mydb.sqlite')
nm=input ('Enter name of product:')
cur=conn.cursor()
qry="select * from Products where name=?";
cur.execute(qry, (nm,))
row=cur.fetchone()print (row)
conn.close()
When the above script is run from command prompt, then it above script
shows following output:
Individual items in the ‘row’ tuple can be accessed by index. The row can
also be unpacked in separate variables as under:
Example 8.11
row=cur.fetchone()
print ('ID:', row[0], 'Name:', row[1],'price:', row[2])
id, nm, p=row
print ('ID:', id, 'Name:', nm,'price:', p)

In [ ]:
8.9 User Defined Functions
The SQLite database engine by itself is equipped with several built-in
functions for finding string length, changing case to upper/lower case,
rounding a number, etc. However, it doesn’t have the provision to define a
new function with customized functionality. The sqlite3 module, however,
has the provision to do so with the help of create_function() method
available to the connection object.
In the following example, we try to represent the price of the product
rounded to thousands and attach a ‘k’ alphabet to it. In other words, 40000
is represented by 40k. First, we define a regular Python function
(myfunction) that accepts a number, divides it by 1000 and appends ‘k’ to
its string conversion. The create_function() method has following
prototype:

In [ ]:
Example 8.12
create_function(SQLFunction, parameters, PythonFunction)In other words, it assigns a name to the Python function( afunction in our
case) that can be used as a function in the SQL query.
Example 8.13
import sqlite3
conn=sqlite3.connect('mydb.sqlite')
def myfunction(num):
return str(round(num/1000))+"k"
conn.create_function('priceinK',1,myfunction)
cur=conn.cursor()
qry="select name, priceinK(price) from products;"
cur.execute(qry)
rows=cur.fetchall()
print (rows)
conn.close()
Output of above code snippet is:

In [ ]:
Example 8.14
[('Laptop',
'25k'),
('TV',
'40k'),
('Router',
'2k'),
('Scanner', '5k'), ('Printer', '9k'), ('Mobile', '15k')]
SQLite also has several built-in aggregate functions such as SUM, AVG,
COUNT, etc. to be applied to one or more columns in a table. For example,
the query ‘ select SUM(price) from Products ’ returns sum of values in
the price column of all rows. Using create_aggregate() method defined to be
used with the cursor object, it is possible to define customized aggregate
function.
In the following script, a regular Python class named myclass is defined and
it contains a step() method which is mandatory for user-defined aggregate
function. The step() method increments count for each product name ending
with ‘r’. The create_aggregate() method attaches a name that can be used
in the SQL query. When this aggregate function is called, the value returned
by finalize() method of the class is in fact the result of the SELECT
statement.

In [ ]:
Example 8.15:import sqlite3
conn=sqlite3.connect('mydb.sqlite')
class myclass:
def __init__(self):
self.count=0
def step(self, string):
if string.endswith('r'):
self.count=self.count+1
def finalize(self):
return self.count
conn.create_aggregate('MyF',1,myclass)
cur=conn.cursor()
qry="select MyF(name) from products;"
cur.execute(qry)
row=cur.fetchone()
print ('number of products with name ending with 'r':',(row)
[0])
conn.close()
The output of above script is:
Example 8.16
number of products with name ending with : 3

In [ ]:
8.10 Row Object
By default, each row in the query result set is a tuple of values belonging to
the column list in SELECT statement. In the above example, the row object
returns a tuple.
Example 8.17
>>> row=cur.fetchone()
>>> row
(2, 'TV', 40000)
>>> type(row)
<class 'tuple'>The order of columns in the tuple cannot be ascertained from the object
itself. The connection object has a useful ‘row_factory’ property with
which row in the result set can be converted into some meaningful
representation. This can be done either by assigning row_factory to a user-
defined function that will return a custom object, or by setting it to the
constructor of Row class.

In [ ]:
Row class has been defined in the sqlite3 module, whose primary purpose is
to be used as row_factory. As a result, the row of result set is returned as a
Row object. Row class defines a keys() method that returns column names
used in the SELECT statement. Values are accessible using the index as
well as by name.
Example 8.18
>>> r=cur.fetchone()
>>> type(r)
<class 'sqlite3.Row'>
>>> r.keys()
['ProductID', 'Name', 'Price']
>>> fields=r.keys()
>>> r[1]
'TV'
>>> r['name']
'TV'
>>> for nm in fields:
print (nm, r[nm])
ProductID 2
Name TV
Price 40000

In [ ]:
8.11 Backup and Restore Database
It is extremely important to secure an organization’s data with periodic
backup so that the same can be used to fall back in case of any damage. The
sqlite3 module provides iterdump() function that returns an iterator of
entire data of a database in the form of SQL statements. This includesCREATE TABLE statements corresponding to each table in the database
and INSERT statements corresponding to rows in each table.
Let us demonstrate the effect of iterdump() with following example. First,
we create a database with one table and insert a record in it. After that, we
create a dump of the database. Run the following script and open the
resultant backup.sql file with an editor.
Example 8.19
import sqlite3
conn=sqlite3.connect('sample.db')
qry='create table names (name text (20), address text(20));'
conn.execute(qry)
qry="insert into names values('Anurag', 'Mumbai');"
cur=conn.cursor()
try:
cur.execute(qry)
print ('record added')
conn.commit()
except:
print ('error in insert operation')
conn.rollback()
conn.close()
#creating dump
conn=sqlite3.connect('sample.db')
f=open('dump.sql','w')
for line in conn.iterdump():
f.write('{}\n'.format(line))
f.close()
conn.close()
The dump file, created, will look like the following:
Example 8.20
BEGIN TRANSACTION;
CREATE TABLE names (name text (20), address text(20));
INSERT INTO "names" VALUES('Anurag','Mumbai');
COMMIT;

In [ ]:
To restore the database from the dumped version in ‘newsample.db’, we
have to read its contents and execute SQL statements in it with the help of
executescript() method of the cursor object.
New database gets constructed from the backup. To verify, run a select
query on its names table and display the result.
As you can see the result is the same data inserted in the original database.
As mentioned earlier, SQLite recognizes NULL, INTEGER, REAL, TEXT,
BLOB as native data types. They are mapped to respective Python data
types as per the following table:(table 8.1)

In [ ]:
Table 8.1 Data types
Python type SQLite type
None NULL
Int INTEGER
Float REAL
str TEXTbytes
BLOB

In [ ]:
The type system of the sqlite3 module can be extended to store additional
Python types in the SQLite database via object adaptation. You can let the
sqlite3 module convert SQLite types to different Python types via
converters. Discussion on adapters and converters is kept outside the scope
of this book.

In [ ]:
Before we discuss other DB-API compatible modules, one more thing is
worth mentioning here. We have used The execute() method - and its other
variants executemany () and executescript () – as defined in the cursor
class of sqlite3 module. These methods are also available for use with the
connection object. However, as mentioned in official documentation of the
sqlite3 module, they are non-standard methods. It simply means that
DB_API recommends these methods be defined in cursor class and the
connection object as defined in other modules ( pymysql or pyodbc module
for example) may not be able to call these execute() methods.

In [ ]:
8.12. Using pymysql Module
To make a Python program interact with a MySQL database, we need to
install a DB-API compliant module. As mentioned earlier in this chapter,
there are many alternatives available for this purpose. In this section, we
shall discuss the use of pymysql module. In any case, the functionality of
any DB-API compatible module is more or less similar, with a few
differences.

In [ ]:
The pymysql module is not a part of Python’s standard library. Hence, we
have to install it using pip utility.
As per the DB-API standards, the first step is to establish a connection with
the database to be used. Usage of connect() function in pymysql module is
a little different. Remember that MySQL databases are hosted on a server.
Hence, the server’s URL and login credentials (user ID and password) must
be passed to connect() function. Additionally, if you are trying to connect
to an existing database, its name should also be provided. If you are going
to create a new database (or use existing database later), you needn’tprovide its name in the connect() function’s parameter list and just connect
to the server.
Example 8.21
>>> import pymysql
>>> con=pymysql.connect('localhost', 'root', '***')
MySQL provides the ‘CREATE DATABASE’ statement to start a new
database. Execute this statement through the cursor object obtained from the
connection object.

In [ ]:
Example 8.22
>>> cur=con.cursor()
>>> cur.execute('create database mynewdb')
You can now start using this (or any other existing database) either by
select_db() method or executing the ‘USE DATABASE’ statement.
Example 8.23
>>> con.select_db('mynewdb')
>>> #or
>>> cur.execute('use mynewdb')
Now that the new database has been created and it is in use, you are now in
a position to create a table and perform insert, update, delete and select
operations on it exactly as we did on a SQLite database. The only thing you
need to take into account is MySQL data types which are different from
SQLite data types. (Table 8.2)
Table 8.2 MySQL Datatypes
Integer types TINYINT, SMALLINT, MEDIUMINT, INTEGER,
BIGINT
Float types FLOAT, DOUBLE, DECIMAL, NUMERIC
string types VARCHAR, TEXT, BLOB, CHAR, NCHAR
Date/time DATE, TIME, DATETIMEtypes
binary types
BLOB, LONGBLOB

In [ ]:
Accordingly, CREATE TABLE query string for MySQL will be as follows:
Example 8.24
>>> qry='''
CREATE TABLE Products (
ProductID INTEGER
PRIMARY KEY AUTO_INCREMENT,
Name
VARCHAR (20),
Price
INTEGER
)
'''
>>> cur.execute(qry)
You can follow the process, as detailed in previous sections of this chapter,
for insert, delete, and select operations.

In [ ]:
8.13 pyodbc Module
ODBC is a language and operating system independent API for accessing
relational databases. The pyodbc module enables access to any RDBMS for
which the respective ODBC driver is available on the operating system.
Most of the established relational database products (Oracle, MySQL,
PostgreSQL, SQL Server, etc.) have ODBC drivers developed by the
vendors themselves or third-party developers.

In [ ]:
In this section, we access ‘mydb’ database deployed on MySQL server. First
of all, verify if your OS has a corresponding ODBC driver installed. If not,
download MYSQL/ODBC connector compatible with your OS, MySQL
version and hardware architecture from MySQL’s official download page:
https://dev.mysql.com/downloads/connector/odbc/ and perform installation
as per instructions.
Following discussion pertains to MySQL ODBC on Windows OS. You need
to open ODBC Data Sources app in Administrative Tools section of
control panel, add newly installed MySQL driver, if it doesn’t have the
same already and configure it to identify by a DSN (Data Source Name)with the help of MySQL sever’s user ID and password, pointing towards
‘mydb’ database. (Figure 8.1)

In [ ]:
This ‘MySQLDSN’ is now available for use to any application including
our Python interpreter. You need to install pyodbc module for that purpose.
Start the Python interpreter and import this module. Its connect() function
takes the DSN and other login credentials as arguments.
Example 8.25
>>> con=pyodbc.connect("DSN=MYSQLDSN;UID=root")
Once we obtain the connection object, the rest of the operations are exactly
similar to that described with reference to sqlite3 module. You can try
creating Customers and Invoices tables in mydb database using their earlier
structure and sample data.
In conclusion, we can say that the DB-API specification has made database
handling very easy and more importantly uniform. However, data in SQL
tables is stored basically in primary data types only which are mapped tocorresponding built-in data types of Python. Python’s user-defined objects
can’t be persistently stored and retrieved to/from SQL tables. The next
chapter deals with the mapping of Python classes to SQL tables.